<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, Web Programiranje, Galerija">
    <meta name="author" content="lpoznic">
    <title>Galerija</title>
    <link rel="stylesheet" href="/style/mystyle.css">
</head>
<body>

    <nav>
        <ul id="menu">
            <li><a href="index.html">Menu</a>
                <ul>
                    <li><a href="/views/galerija.html">Galerija</a></li>
                    <li><a href="/public/grafikon.html">Grafikon</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <main>
        <h1>Galerija Slika</h1>
        <section class="gallery">
            <% images.forEach(image => { %>
                <figure>
                <img src="<%= image.url %>" alt="<%= image.title %>">
                <figcaption><%= image.title %></figcaption>
                </figure>
            <% }); %>
        </section>
    </main>

</body>
</html>
